dlt[duckdb,filesystem]>=1.12.3
ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.8'
jupyterlab_server>=2.11.1
jupyterlab~=3.0
jupyter~=1.0
kedro~=0.19
kedro-datasets[ibis-duckdb]
kedro-telemetry
kedro-viz
